* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
  background-color: #fff;
}

body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.header {
  padding: 25px 27px 24px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 93px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-nav {
  width: 254px;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-nav__menu-item {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-nav__menu-item:hover {
  color: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  -webkit-transform: translateY(29px);
          transform: translateY(29px);
  border-radius: 2px;
}

.contacts {
  font-weight: 500;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.contacts__menu-item:hover, .contacts__menu-item:focus, .contacts__menu-item:hover {
  color: #2196f3;
  fill: #2196f3;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.contacts__icon-position {
  margin-right: 10px;
}

.contacts__menu-item {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-section-background {
  background-color: rgba(47, 48, 58, 0.4);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/welcome-section-background-image.jpg);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/welcome-section-background-image.jpg);
}

.welcome-section {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}
.welcome-section__text {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 200px 252px 0;
  margin: 0 auto;
}

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-section {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.article-section__logo {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.article-section > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.article-header {
  font-weight: 700;
}
.article-header__paragraph {
  color: #757575;
}

.what-we-do-section {
  padding-top: 0;
}
.what-we-do-section__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.what-we-do-section-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-header {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.images-label {
  position: relative;
}
.images-label__description {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 27px 0;
}

.our-team-background {
  background: #f5f4fa;
}

.our-team-section__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our-team-section__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  gap: 30px;
}

.signature {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 30px 0;
}
.signature__position {
  padding-top: 10px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-clients-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client-icon {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  cursor: pointer;
}
.client-icon:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer-background-color {
  background: #2f303a;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  padding: 60px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contacts__contact-color, .footer-contacts__address-color {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-contacts__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  padding-top: 20px;
}
.footer-contacts__address-color {
  color: #fff;
}
.footer-contacts__contact-color {
  color: rgba(255, 255, 255, 0.6);
}

.footer-header {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
}
.newsletter__input {
  width: 358px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
  outline: none;
  height: 50px;
  padding-left: 16px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #2196f3;
  letter-spacing: 0.03em;
}
.logo__header-color {
  color: #212121;
}
.logo__footer-color {
  color: #fff;
}

.button, .button--form-position, .button--footer-position {
  position: relative;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 42px;
  margin: 0 auto 200px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
}
.button__icon {
  position: absolute;
  right: 28px;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button--footer-position {
  margin: 0 auto;
  padding-right: 76px;
}

.button--form-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 40px;
  padding: 10px 76px;
}

.social-media-section {
  padding-top: 9px;
}

.social-media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 16px 32px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-media-block--left {
  padding: 0;
}

.circle {
  border-radius: 50%;
  background-color: #f5f4fa;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.circle--grey {
  background-color: rgba(255, 255, 255, 0.1019607843);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}
.circle:hover, .circle--grey:hover {
  background-color: #2196f3;
}

.social-media-icon {
  fill: #afb1b8;
}
.social-media-icon--white {
  fill: #fff;
}
.social-media-icon:hover {
  fill: #fff;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 700;
}
.modal__form {
  width: 448px;
  margin: 0 auto;
}

.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal-form {
  width: 448px;
  margin: 0 auto;
}
.modal-form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.modal-form__label:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  color: #757575;
}
.modal-form__textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal-form__input:focus,
.modal-form__textarea:focus {
  outline: none;
  border-color: #2196f3;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.link-color {
  color: #2196f3;
  text-decoration: underline;
}

.form-icon {
  position: absolute;
}
.form-icon__position1 {
  top: 104px;
  left: 52px;
}
.form-icon__position2 {
  top: 172px;
  left: 52px;
}
.form-icon__position3 {
  top: 240px;
  left: 52px;
}

.modal-form__label:focus-within svg {
  fill: #2196f3;
}

/* Custom checkbox */
.checkbox-symbol {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-container {
  background: #fff;
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.checkbox-input {
  position: absolute;
  visibility: hidden;
}

.checkbox {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 20px 0 30px 0;
  border-radius: 6px;
  overflow: hidden;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.checkbox:not(:last-child) {
  margin-right: 6px;
}

.checkbox span:first-child {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  border: 2px solid #212121;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.checkbox span:last-child {
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.checkbox span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: #fff;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.checkbox span:last-child {
  padding-left: 8px;
}

.checkbox-input:checked + .checkbox span:first-child {
  background: #2196f3;
  border-color: #2196f3;
}

.checkbox-input:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

@-webkit-keyframes zoom-in-out {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes zoom-in-out {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
.portfolio-border {
  border-bottom: 1px solid #eeeeee;
}

.portfolio-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio-section__filters {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.portfolio-section__filters > button {
  font-size: 16px;
  background-color: #f5f4fa;
  letter-spacing: 0.03em;
  line-height: 1.625;
  border-radius: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  margin-bottom: 50px;
}

.portfolio-section__filters > button:hover,
.portfolio-section__filters > button:focus {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.portfolio-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio-images--border {
  border: 1px solid #eeeeee;
  cursor: pointer;
  position: relative;
}
.portfolio-images--border:hover .hover-overlay {
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  z-index: 1;
}
.portfolio-images--border:hover, .portfolio-images--border:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.project-image {
  position: relative;
  overflow: hidden;
}

.hover-overlay {
  top: 0;
  position: absolute;
  z-index: -1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.hover-overlay > p {
  color: #fff;
  padding: 49px 0 0 24px;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 28px;
}

.image-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding: 20px 24px;
}
.image-footer__project-name {
  line-height: 2;
}
.image-footer__group-name {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  padding-top: 4px;
}/*# sourceMappingURL=main.css.map */