@import "./utils/colors";
@import "./utils/fonts";
@import "./utils/pre-settings";

body {
  color: $black;
  font-family: $standard-font;
  font-size: map-get($font-size, standard);
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid purple;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (min-width: 480px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

@import "./components/page-header";
@import "./components/index-main-page";
@import "./components/page-footer";

@import "./components/hidden";
@import "./components/logo";
@import "./components/button";
@import "./components/social-media-block";
@import "./components/modal";
@import "./components/portfolio-main-page";
@import "./components/mobile-menu";
