.welcome-section-background {
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/welcome-section-background-image@2x.jpg");
  background-color: $background-alpha;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.welcome-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  padding: 0;

  &__text {
    color: $white;
    font-weight: map-get($font-weight, extrabold);
    font-size: map-get($font-size, logo-font);
    line-height: 1.62;
    text-align: center;
    letter-spacing: map-get($letter-spacing, header);
    text-transform: uppercase;
    padding: 118px 50px 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .welcome-section-background {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url("../images/welcome-section-background-image@1x.jpg");
    background-color: $background-alpha;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
  }

  .welcome-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    padding: 0;

    &__text {
      color: $white;
      font-weight: map-get($font-weight, extrabold);
      font-size: map-get($font-size, logo-font);
      line-height: 1.62;
      text-align: center;
      letter-spacing: map-get($letter-spacing, header);
      text-transform: uppercase;
      padding: 118px 200px 0;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .welcome-section-background {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url("../images/welcome-section-background-image@1x.jpg");
    background-color: $background-alpha;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
  }

  .welcome-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    padding: 0;

    &__text {
      color: $white;
      font-weight: map-get($font-weight, extrabold);
      font-size: map-get($font-size, main-text);
      line-height: 1.36;
      text-align: center;
      letter-spacing: map-get($letter-spacing, header);
      text-transform: uppercase;
      padding: 200px 252px 0;
      margin: 0 auto;
    }
  }
}

// MAIN PAGE

.main-page {
  display: flex;
  flex-direction: column;
}

.article-section {
  line-height: 1.71;
  letter-spacing: map-get($letter-spacing, standard);
  padding-top: 60px;

  &__logo {
    background-color: $background-article;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

.icon {
  width: 100%;
  justify-content: center;
  justify-items: center;
  border: 1px solid red;
}

.article-section > ul {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0 15px;
}

.article-header {
  font-weight: map-get($font-weight, bold);
  text-align: center;

  &__paragraph {
    color: $grey;
  }
}

@media screen and (min-width: 768px) {
  .article-section {
    line-height: 1.71;
    letter-spacing: map-get($letter-spacing, standard);
    padding-top: 60px;

    &__logo {
      background-color: $background-article;
      border-radius: 4px;
      margin-bottom: 30px;
    }
  }

  .icon {
    width: 100%;
    justify-content: center;
    justify-items: center;
    border: 1px solid red;
  }

  .article-section > ul {
    display: flex;
    gap: 30px;
    padding: 0 15px;
    justify-content: space-between;
  }

  .article-card {
    width: 353px;
  }

  .article-header {
    font-weight: map-get($font-weight, bold);
    text-align: left;
    &__paragraph {
      color: $grey;
    }
  }
}

@media screen and (min-width: 1200px) {
  .article-section {
    line-height: 1.71;
    letter-spacing: map-get($letter-spacing, standard);

    &__logo {
      background-color: $background-article;
      border-radius: 4px;
      margin-bottom: 30px;
    }
  }

  .article-section > ul {
    display: flex;
    gap: 30px;
    padding: 0;
  }

  .article-card {
    width: 270px;
  }

  .article-header {
    font-weight: map-get($font-weight, bold);
    text-align: left;

    &__paragraph {
      color: $grey;
    }
  }
}

.what-we-do-section {
  display: none;
}

@media screen and (min-width: 768px) {
  .what-we-do-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .what-we-do-section {
    padding-top: 0;
    display: inline;

    &__images {
      display: flex;
      justify-content: space-between;
    }
  }

  .what-we-do-section-card {
    display: flex;
  }

  .section-header {
    text-align: center;
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, section-header);
    line-height: 1.166;
    letter-spacing: map-get($letter-spacing, standard);
    padding-bottom: 50px;
  }

  .images-label {
    position: relative;

    &__description {
      position: absolute;
      bottom: 0;
      background-color: rgba(47, 48, 58, 0.8);
      text-transform: uppercase;
      width: 100%;
      font-weight: map-get($font-weight, bold);
      font-size: map-get($font-size, standard);
      line-height: 16px;
      text-align: center;
      letter-spacing: map-get($letter-spacing, standard);
      color: $white;
      padding: 27px 0;
    }
  }
}

.our-team-background {
  background: $background-article;
}

.section-header {
  text-align: center;
  font-weight: map-get($font-weight, bold);
  font-size: map-get($font-size, section-header);
  line-height: 1.166;
  letter-spacing: map-get($letter-spacing, standard);
  padding-bottom: 30px;
}

.our-team-section {
  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;
    margin: 0 14px;
  }

  &__card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 100%;

    & > figure > img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }
}

.signature {
  font-weight: map-get($font-weight, medium);
  font-size: map-get($font-size, enlarged);
  line-height: 1.19;
  text-align: center;
  letter-spacing: map-get($letter-spacing, standard);
  padding-top: 30px;

  &__position {
    padding-top: 10px;
    color: $grey;
    font-weight: map-get($font-weight, regular);
    font-size: map-get($font-size, enlarged);
    line-height: 1.19;
    text-align: center;
    letter-spacing: map-get($letter-spacing, standard);
  }
}

@media screen and (min-width: 768px) {
  .our-team-background {
    background: $background-article;
  }

  .section-header {
    text-align: center;
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, section-header);
    line-height: 1.166;
    letter-spacing: map-get($letter-spacing, standard);
    padding-bottom: 30px;
  }

  .our-team-section {
    &__images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
      margin: 0;
      padding: 0 14px;
    }

    &__card {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      width: 354px;

      & > figure > img {
        width: 354px;
        height: 374px;
      }
    }
  }

  .signature {
    font-weight: map-get($font-weight, medium);
    font-size: map-get($font-size, enlarged);
    line-height: 1.19;
    text-align: center;
    letter-spacing: map-get($letter-spacing, standard);
    padding-top: 30px;

    &__position {
      padding-top: 10px;
      color: $grey;
      font-weight: map-get($font-weight, regular);
      font-size: map-get($font-size, enlarged);
      line-height: 1.19;
      text-align: center;
      letter-spacing: map-get($letter-spacing, standard);
    }
  }
}

@media screen and (min-width: 1200px) {
  .our-team-background {
    background: $background-article;
  }

  .our-team-section {
    &__images {
      display: flex;
      justify-content: space-between;
    }

    &__card {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      gap: 30px;
      width: 270px;

      & > figure > img {
        width: 270px;
        height: 260px;
      }
    }
  }

  .signature {
    font-weight: map-get($font-weight, medium);
    font-size: map-get($font-size, enlarged);
    line-height: 1.19;
    text-align: center;
    letter-spacing: map-get($letter-spacing, standard);
    padding-top: 30px;

    &__position {
      padding-top: 10px;
      color: $grey;
      font-weight: map-get($font-weight, regular);
      font-size: map-get($font-size, enlarged);
      line-height: 1.19;
      text-align: center;
      letter-spacing: map-get($letter-spacing, standard);
    }
  }
}

.our-clients-logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 14px;
}
.client-icon {
  width: 210px;
  height: 92px;
  border: 1px solid $icon-background;
  border-radius: 4px;
  fill: $icon-background;
  cursor: pointer;

  &:hover {
    fill: $blue;
    border-color: $blue;
  }
}

@media screen and (min-width: 768px) {
  .our-clients-logos {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
  }
  .client-icon {
    width: 226px;
    height: 92px;
    border: 1px solid $icon-background;
    border-radius: 4px;
    fill: $icon-background;
    cursor: pointer;

    &:hover {
      fill: $blue;
      border-color: $blue;
    }
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-logos {
    display: flex;
    justify-content: space-between;
  }
  .client-icon {
    width: 170px;
    height: 92px;
    border: 1px solid $icon-background;
    border-radius: 4px;
    fill: $icon-background;
    cursor: pointer;

    &:hover {
      fill: $blue;
      border-color: $blue;
    }
  }
}
