.social-media-section {
  padding-top: 9px;
}

.social-media-block {
  display: flex;
  gap: 10px;
  padding: 16px 32px 0;
  align-items: center;

  &--left {
    padding: 0;
  }
}

.circle {
  border-radius: 50%;
  background-color: $background-article;
  width: 44px;
  height: 44px;
  cursor: pointer;

  &--grey {
    background-color: $footer-circle-bg;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
  }

  &:hover,
  &--grey:hover {
    background-color: $blue;
  }
}

.social-media-icon {
  fill: $icon-background;

  &--white {
    fill: $white;
  }

  &:hover {
    fill: $white;
  }
}
