$body-background: #e5e5e5;
$white: #fff;
$black: #212121;
$grey: #757575;
$blue: #2196f3;
$border: #eeeeee;
$background-alpha: #2f303a66;
$background-article: #f5f4fa;
$background-image-signature: #2f303acc;
$icon-background: #afb1b8;
$background-footer: #2f303a;
$modal-backdrop: #00000033;
$footer-circle-bg: #ffffff1a;
$footer-contacts: #ffffff99;
$footer-newsletter-border: #ffffff4d;
$modal-form-border: #21212133;
$header-border: #ececec;
